.content{
    height:500px;
    width:500px;
    margin:auto;
    margin-top:50px;
    border-radius: 7px;
    background: #F5F5F5;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:20px;
    position:relative;
}

.die {
    color:black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width:45px;
    height:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-size: 700;
    cursor:pointer;
    background-color: white;
}

.die--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:24px 32px;
}


.content--button {
    box-sizing:border-box;
    background: #5d46f3;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    width:100%;
    height:100%;
    border:none;
    color:white;
    font-size:1.5em;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.button--wrapper {
    width:150px;
    height: 50px;
}

.button--wrapper:hover{
    animation : wiggle 1.4s infinite alternate-reverse;
}

@keyframes wiggle{
    0%{transform: rotateZ(2deg);}
    20%{transform: rotateZ(-2deg);}
    40%{transform: rotateZ(2deg);}
    60%{transform: rotateZ(-2deg);}
    80%{transform: rotateZ(2deg);}
    100%{transform: rotateZ(0deg);}
}

.content--button img {
    max-height: 80%;
    margin-right:2%;
}
.green {
    background-color: #59E391;
}

.wrapper{
    position: relative;
}


canvas {
    position: absolute;
    height:100%;
    width:100%;
    z-index: -1;
  }


.info {
    top:20px;
    right:0;
    z-index: -1;
    transform: translateX(90%);
    position: absolute;
    width:40%;
    height:50%;
    background-color: #5d46f3;
    border-radius: 7px;


    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2em;
    cursor: pointer;
    transition: width 0.5s ease-in-out;
}

.info > p {
    z-index: -1;

}


.highscore {
    color:rgb(255, 251, 251);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    width:30%;
    height:20%;
    position: absolute;
    top:10px;
    left:0;
    transform: translateX(-20%);
    background-color: #59E391;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition:all 0.7s ease;
}

.highscore h2 {
    color:rgba(253, 255, 130, 0.986)
}

.wrapper {
    z-index: 10;
}



.appear{
    transition: opacity 0.25s ease-in-out;
}

.display {
    margin-left:5%;
    font-size: 0.5em;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding:10% 0px;

}

.display h2:nth-of-type(even) {
    color:#e9441b;
}

.display h2:nth-of-type(odd) {
    color:#59E391;
}

.label {
    writing-mode: vertical-rl;
    text-orientation: use-glyph-orientation;
}


.createAccount {
    position: relative;
    border-radius: 7px;
    min-width: 0;
    width:100%;
    height: 100%;
    background-color: #F5F5F5;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.createAccount * {
    z-index: 4;
}

.createAccount section {
    width:70%;
    height:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.createAccount section label {
    font-size: 1.2em;
}
.createAccount input{
    width: 100%;
    height:50px;
    font-size: 1.5em;
    font-family: 'Sora';
    border-radius: 7px 7px;
    border:none;
    text-align: center;
    outline: none;
    background-color: #0e4931d0;
    color:#f6fffc;
}

.createAccount button{
    font-family: inherit;
    font-size: 1.5em;
    background-color: #2c2d3f;
    width:35%;
    border-radius: 7px;
    height:10%;
    border:none;
    transition: transform 0.4s ease;
    color:#F5F5F5;
}




.createAccount button:hover{
    transform: scale(120%);
    cursor: pointer;
}

.form--wrapper {
    position: relative;
    display: flex;
    margin:auto;
    width:800px;
    height: 550px;
    border-radius: 7px;
}

.form--logo {
    top:10px;
    right:20px;
    position: absolute;
    max-width: 70px;
    z-index: 4;
}

.form--error {
    font-family: inherit;
    color:#e9441b;
}

.form--img {
    position: absolute;
    z-index: 3;
}

.first {
    left:0;
    bottom:0;
    transform: translateY(50%) translateX(-20%);
}

.second {
    right:0;
    top:0;
    transform:translateX(20%) translateY(-40%) scale(120%);
}


.lb--wrapper{
    position: absolute;
    height:400px;
    width:250px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    left:100px;
    top:20%;
    margin:auto;
    border-radius: 7px 7px;
}

.lb--wrapper h1{
    border-bottom:1px solid  #2c2d3f60;
    margin-bottom: 10%;
}

.lb--data {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.lb--data div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:9%;
    width: 100%;
}

.lb--data div h5 {
    width:33%;
    text-align: center;
}

.lb--columns {
    color:rgba(63, 167, 15, 0.712);
    font-size: large;
}

header {
    width:100%;
    height:75px;
    background-color: #59E391;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.link {
    display: inline-block;
    position: relative;
    font-family: "Karla";
    font-size: 1.7em;
    outline: none;
    color:black;
    text-decoration: none;
    font-weight: 700;

}


  .link:after {
    content: '';
    position: absolute;
    width: 102%;
    transform: scaleX(0);
    border-radius: 7px 10px;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgba(3, 1, 1, 0.651);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

